body {
  background-color: #a19993;
  font-family: "Roboto Condensed", sans-serif; }
  body .jumbotron {
    background-image: linear-gradient(to top, #93b6b4, #beb998, #efcb8c 90%);
    font-family: "Sonsie One", cursive;
    color: #f9f4ef; }
  body .navbar-dark {
    background-color: midnightblue;
    margin: 0;
    color: #f9f4ef;
    border: solid 1px #a19993; }
  body .breadcrumb {
    background-color: #f9f4ef; }
  body .row-content {
    padding: 20px 50px; }
    body .row-content .card {
      background-color: #f9f4ef; }
      body .row-content .card .list-group-item {
        background-color: #f9f4ef; }
  body .postMapDiv,
  body .postImgDiv {
    background-color: #f9f4ef;
    object-fit: cover;
    overflow-y: hidden;
    overflow-x: hidden; }
  body .mapDiv {
    object-fit: cover;
    overflow-y: hidden;
    overflow-x: hidden; }
