body {
  background-color: #F2EFEA;
  font-family: "Roboto Condensed", sans-serif; }
  body .jumbotron {
    background-image: linear-gradient(to top, #6D7FC1, #68A691 90%);
    font-family: "Sonsie One", cursive;
    color: #F2EFEA; }
    @media only screen and (max-width: 500px) {
      body .jumbotron h1 {
        font-size: 24px; } }
  body h4 {
    background-color: #231D1A;
    color: #F2EFEA; }
  body .list-group-item {
    background-color: #F2EFEA; }
  body li > img {
    height: 100px; }

.navbar-dark {
  background-color: #231D1A;
  margin: 0;
  color: #F2EFEA; }

.breadcrumb {
  background-color: #F2EFEA; }

.row-content {
  padding: 20px 50px;
  margin: 0 0 3rem 0; }
  @media only screen and (min-width: 992px) {
    .row-content {
      margin: 0 10rem; } }
  .row-content .card {
    background-color: #F2EFEA; }
    .row-content .card .list-group-item {
      background-color: #F2EFEA; }
    .row-content .card .card-header {
      background-color: #6D7FC1;
      color: #F2EFEA; }

.postMapDiv,
.postImgDiv {
  object-fit: cover;
  overflow-y: hidden;
  overflow-x: hidden; }

.mapDiv {
  object-fit: cover;
  overflow-y: hidden;
  overflow-x: hidden; }

#postButton {
  background-color: #FC7753;
  color: #F2EFEA; }
