$color-primary: #6D7FC1;
$color-secondary: #68A691;
$color-tetriary: #beb998;
$color-accent-dark: #231D1A;
$color-accent-light: #FC7753;
$color-light: #F2EFEA;

$body-font: 'Roboto Condensed', sans-serif;
$header-font: 'Sonsie One', cursive;
$details-font: 'Roboto Mono', monospace;


body {
    background-color: $color-light;
    font-family: $body-font;



    .jumbotron {
        background-image: linear-gradient(to top, $color-primary, $color-secondary 90%);
        font-family: $header-font;
        color: $color-light;

        h1 {
            @media only screen and (max-width: 500px) {
                font-size: 24px;
            }

        }
    }

    h4 {
        background-color: $color-accent-dark;
        color: $color-light;
    }

    .list-group-item {
        background-color: $color-light;
    }

    li > img {
        height: 100px;
    }
}

.navbar-dark {
    background-color: $color-accent-dark;
    margin: 0;
    color: $color-light;

}

.breadcrumb {
    background-color: $color-light;

}

.row-content {
    padding: 20px 50px;
    margin: 0 0 3rem 0;
    @media only screen and (min-width: 992px){
        margin: 0 1rem;
    }

    .card {
        background-color: $color-light;

        .list-group-item {
            background-color: $color-light;
        }

        .card-header {
            background-color: $color-primary;
            color: $color-light;
        }
    }
}

.postMapDiv,
.postImgDiv {
    object-fit: cover;
    overflow-y: hidden;
    overflow-x: hidden;
}

.mapDiv {
    object-fit: cover;
    overflow-y: hidden;
    overflow-x: hidden;
}

.btnSubmit,
#postButton {
    background-color: $color-accent-light;
    color: $color-light;
}

//img upload scss

#upload {
    opacity: 0;
}

#upload-label {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
}


.image-area::before {
    z-index: 1;
}

.image-area img {
    z-index: 2;
    position: relative;
}

